!!! 5
%html(lang="en")
  %head
    %title Bootstrap, from Twitter
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    %script{:src => '/lib/jquery-1.7.min.js'}
    %script{:src => '/lib/bootstrap/js/bootstrap-dropdown.js'}
    %script{:src => '/lib/bootstrap/js/bootstrap-alerts.js'}
    %link{:rel => 'javascript', :href => 'lib/bootstratp/bootstrap.min.css', :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          %a{:class => "brand", :href => ""}Project name
          %ul(class="nav")
            %li(class="active")
              %a(href = "/") Home
            %li
              %a(href = "/") About
            %li
              %a(href = "/") Contact

    .container
      .content
        .page-header
          <h1>Page name <small>Supporting text or tagline</small></h1>
        .row
          .span10
            <h2>Main content</h2>

          .span4
            <h3>Secondary content</h3>




      %footer
        <p>&copy; Company 2011</p>
