!!! 5
%html(lang="en")
  %head
    %title= MrDashboard.settings['title']
    %link{:href => '/stylesheets/bootstrap.min.css', :rel => 'stylesheet', :type => "text/css"}
    %link{:href => 'application.css', :rel => 'stylesheet', :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          %h3
            %a(href="#")=MrDashboard.settings["title"]

    .container-fluid
      = yield

