!!! 5
%html(lang="en")
  %head
    %title= MrDashboard.settings['title']
    %script{:src => '/lib/jquery-1.7.min.js'}
    %script{:src => '/lib/bootstrap/js/bootstrap-dropdown.js'}
    %script{:src => '/lib/bootstrap/js/bootstrap-alerts.js'}
    %script{:src => 'application.js'}
    %link{:href => 'lib/bootstrap/bootstrap.min.css', :rel => 'stylesheet', :type => "text/css"}
    %link{:href => 'application.css', :rel => 'stylesheet', :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          %h3
            %a(href="#")=MrDashboard.settings["title"]

    .container-fluid
      = yield

